* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
     display: flex;
     justify-content: center;
 }

.main {
    width: 800px;
}
.list {
    margin-left: 5%;
}
.divider {
    margin: 15px 0;
}

